<h2><%= @board.name %></h2>
<%= form_for([@board, @board.sections.build]) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<div id="sections" style="display: flex;flex-direction: row" >

  <% @board.sections.each do |section|
    @section = section
     if @section.id == nil
       @section.id =99
     end
  %>
         <div class="section" style="flex-grow: 1" >
<%=section.name %>  <%= link_to 'Destroy section', [section.board, section],method: :delete, data:{ confirm: 'Are you sure?' } %>
    <% section.notes.each do |note| %>
      <div style="border: solid 1px">
        <%= note.body %>
      </div>
  <% end%>

  <%= link_to 'New note', new_board_section_note_path({board_id: @section.board.id,section_id: @section.id}) %>

      </div>
  <% end %>
</div>
<%= link_to 'Back', boards_path %>